.background-container{
    padding-top: 30px;
    margin-bottom: 100px;
}

.graph-background{
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.display-5{
    font-weight: normal;
}

.bar {
    fill: #1976D2;
  }

.arc text {
    font: 14px sans-serif;
    text-anchor: middle;
    color: #ffffff;
}

.arc path {
    stroke: #fff;
}

body{
    background-image: url("../img/background-image1.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title{
    color: #000000;
    font-weight: lighter;
}

.header-title{
    margin-top: 40px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 65px;
}

.header-subtitle{
    margin-top: 40px;
    color: #f3f3f3;
    font-size: 30px;
    font-weight: lighter;
}

.header{
    padding: 40px;
    height: 350px;
    background-color: #2A3338;
}